
body {
  background: url("whitegreen.svg");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  display: block;
  margin: auto;
  border-radius: 8px;
  height: 50%;
  width: 50%;
}

.header {
  
  text-align: center;
   display: block;
    margin: auto;
}

h1, h2, h3 {
  text-align: center;
  margin: auto;
}
p { 
text-align: center;
margin: auto;
font-style: normal;
  font-size: 20px;
}


table, th, td {
  margin: auto;
  text-align: center;
  border: solid black;
  width: 50%;
  
    
}

.navbar { 
  position: absolute;
  width: 100%;
  background: grey;
  bottom: 0;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin: auto;

}

li a:hover {
  background-color: #111;
}



