/*Stylesheet for index.html*/


body {
    background-image: url("/white-green-gradient-linear-5120x2880-c2-ffffff-adff2f-a-300-f-14.svg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    color: white;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}


p {
    font-family: "Georgia", cursive;
    font-size: 20px;
    text-align: center;
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    border: 1px solid white;
    color: white;
    text-align: center;
    height: 50px;
}

h3 {
    color: white;
}

li, ul {
    color: white;
}

}


}